name: Publish to TestPyPI

on:
  release:
    types: [created]

jobs:
  build-and-publish:
    name: Build and publish package
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install build tools
        run: pip install flit-core
        
      - name: Build package
        run: python -m build

      - name: Publish to TestPyPI
        uses: pypa/gh-action-pypi-publish@v1.11.0
        with:
          repository-url: https://test.pypi.org/legacy/
